@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

#logo{
  float:left;
  margin-right: 110px;}

#pizza_video, #home_pizza, #m_home_pizza{
  float:left;
  margin-right: 15px;
  border: blue solid;
  border-radius:5px;}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 90% Arial, Helvetica, sans-serif;
  color: #000;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3 
{ font: normal 175% 'News Cycle', Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% 'News Cycle', Arial, sans-serif;;}

h3
{ font: normal 130% 'News Cycle', Arial, sans-serif;}

#title {
float:left;}
  
span
{ color: #B1521A;
  text-shadow: none;}

a, a:hover
{ color: #000;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, #slideshow_container, #whole
{ margin-left: auto; 
  margin-right: auto;}
  
header
{ height: 150px;
  /*background: #1D1D1D;*/
  background: linear-gradient(#535353, #000);}
 
nav
{ height: 60px;} 

nav ul li {
min-width: 20%;}
  
#strapline
{ width: 940px;
  height: 80px;
  text-align: center; 
  margin: 0 auto;} 
  
#welcome_slogan
{ width: 940px;
  float: left;
  height: 70px;
  padding-top: 10px;  
  margin: 0 auto;}    
  
#welcome_slogan h3
{ font: bold 300% 'News Cycle', Arial, sans-serif;
  letter-spacing: -3px;
  color: #FFF;} 
  
#menubar
{ width: 940px;
  height: 55px;
  padding-top: 10px;
  margin: 0 auto;
  border: blue;}    

  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;}

ul#nav li a, ul#m_nav li a
{ float: left;
  font: bold 130% 'News Cycle', Arial, sans-serif;
  height: 24px;
  margin: 8px 20px 0 0;
  text-shadow: 0px 1px 0px #000;
  padding: 0px 20px 10px 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a, ul#nav li:hover a, ul#m_nav li.current a, ul#m_nav li:hover a
{ color: #FFF;
  background: linear-gradient(#43A9FF, #0043A8);
  text-shadow: none;}
  
#slideshow_container
{ height: 400px;
  background-image: url('images/blue.jpg');
  padding-top: 40px;}
  
.slideshow
{ width: 940px;
  height: 350px;
  margin: 0 auto;}  
  
/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 940px;
  height: 350px;
  overflow: hidden;
  position: relative;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;
  color:purple;}
 
#slideshow-caption {
  width: 940px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: white;
  text-shadow: 1px 1px #000;}  

#site_content
{ width: 940px;
  overflow: hidden;} 

.sidebar_container
{ float: right;
  margin: 20px 0 0 10px;
  width: 240px;}

.sidebar
{ float: left;
  width: 240px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 240px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: normal 140% 'News Cycle', Arial, sans-serif;
  height: 30px;}  

#content
{ width: 680px;
  margin: 0 0 20px 0;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_container
{ width: 330px;
  margin: 20px 10px 0 0;
  float: left;}

  
footer
{ width: 940px;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 20px;  
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px #000;
  color: #FFF;
  background-color: #FFF;
  background: linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

footer a, footer a:hover
{ text-shadow: 1px 1px #FFF;
  color: #1D1D1D;
  text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-shadow: 1px 1px #000;
  color: #FFF;
  text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;
  text-shadow: 1px 1px #004C8C;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  float: left;
  height: 15px;
  padding: 5px 10px 7px 8px;
  background: linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;
  text-shadow: 1px 1px #000;}

  .rights{color:#000;
    font-size: 10px;
    margin-left: 10px}

  .hours {
    font-size: 13.8px;
    text-decoration: underline;
  }

  .hours:hover{
    text-decoration: none;
  }

  #menubar ul li {
  display: inline-block;
  min-width: 20%;}

  nav {
  text-align: center;
  }

  #menubar {
    text-align: center;
  }

  #mobile {
    display: none;}

  @media(max-width: 480px) {
      #main {
        display: none;
      }

      #mobile {
        display: block;
        overflow: hidden;
      }

      img {
        overflow: hidden;
      }

      ul#m_nav {
      list-style-type: none;
      float: left;
      margin-left: 20px;}

      ul#m_nav li a {
        text-align: center;
        margin: auto;
        margin-top: 15px;}

      ul#m_nav {
        text-align: center;
        position: absolute;
        top: 10px;
      }

      #m_para {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      #m_para ul {
        list-style-type: none;
      }

      #m_logo {
        float: left;
      }

      #m_content {
        background-color: white;
        padding: 10px;
        width: 80%;
        text-align: left;
        position: absolute;
        top: 250px;
        left: 6.5%;
        margin: auto;
        border: 5px solid black;
        border-radius: 10px;
      }

      #m_content h3 {
        margin-top: 45px;
        text-align: center;
        font-size: 20px;
      }

      #m_home_pizza {
        margin-top: 20px;
        margin-right: 30px;
        max-width: 90%;
        max-height: 60%;
      }
      #m_content p {
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        float: left;
        font-size: 16px;
      }

      

      #second_p {
        float: none;
        text-align: center;
        margin-bottom:0;
        margin-top: 20px;
      }

      .p, .hours {
        color: black;
        padding-bottom: 15px;
        font-size: 16px;
      }

      #m_footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 25px;
        padding-top: 10px;
        border-radius: 0;
      }

      #m_footer div {
        margin-top: 3px;
      }

      .hours {
        text-align: center;
      }

      #background {
        background:linear-gradient(#535353, #000);
        width: 100%;
        height: 230px;
        margin:0;
      }

      #back_image {
        width:100%;
        height: 835px;
        position: absolute;
        top: 230px;
        bottom: 0;
        background-image: url('images/blue.jpg');
      }
  }