h1 {
text-align: center;}

.frame1 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px 0px;
}

.frame2 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px 0px;
}

.frame3 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px 0px;
}

.frame4 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px 0px;
}

.frame5 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px 0px;
}

.frame6 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px 0px;
}

.frame7 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px -53px;
}

.frame8 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px -53px;
}

.frame9 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px -53px;
}


.frame10 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px -53px;
}

.frame11 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px -53px;
}

.frame12 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px -53px;
}

.frame13 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px -106px;
}

.frame14 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px -106px;
}

.frame15 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px -106px;
}

.frame16 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px -106px;
}

.frame17 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px -106px;
}

.frame18 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px -106px;
}

.frame19 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px -159px;
}

.frame20 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px -159px;
}

.frame21 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px -159px;
}

.frame22 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px -159px;
}

.frame23 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px -159px;
}

.frame24 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px -159px;
}

.frame25 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px -212px;
}

.frame26 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px -212px;
}

.frame27 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px -212px;
}

.frame28 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px -212px;
}

.frame29 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px -212px;
}

.frame30 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px -212px;
}

.frame31 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: 0px -255px;
}

.frame32 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -43px -255px;
}

.frame33 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -86px -255px;
}

.frame34 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -129px -255px;
}

.frame35 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -172px -255px;
}

.frame36 {
	width: 43px;
	height: 53px;
	margin: auto;
	background-image: url('sprite.png');
	background-position: -215px -106px;
}